<!DOCTYPE html>
<!-- Created By CodingNepal -->
<head>
   <meta charset="utf-8">
   <title>Responsive Navigation Bar</title>
   <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
   <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <nav>
            <ul>
               <li class="logo"><a href="#">NEWS-CLASSIFICATION</a></li>
               <li class="items"><a href="#">Home</a></li>
               <li class="items"><a href="#">About Us</a></li>
            
               
               <li class="btn"><a href="#"><i class="fas fa-bars"></i></a></li>
            </ul>
         </nav>
    </header>
  <div class="row">
    <div class="container">
        <form action="action_page.php">
          <label for="subject">Heading</label>
          <textarea id="subject" name="subject" placeholder="News Heading..." style="height:100px"></textarea>
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="News Subject..." style="height:200px"></textarea>
      
          <input  type="submit" value="Submit">
      
        </form>
      </div>
    

  </div>

 
   <script>
      $(document).ready(function(){
        $('.btn').click(function(){
          $('.items').toggleClass("show");
          $('ul li').toggleClass("hide");
        });
      });
   </script>
</body>
</html>